/* reset */
* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}

/* variáveis */
:root {
	--main-color: gray;
	--main-bg-color: white;
	--main-font-color: black;
}

/* geral */
body {
	
}

/* flex */
.flex-column {
	display: flex;	
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	
}

.flex-row {
	display: flex;	
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	
}

/* container */
.container {
	/*background-color: var(--main-color);*/
	background-image: url("../img/background-page.jpg");	
	background-size: contain;	
	background-attachment: fixed;
	height: 100vh;
	min-width: 801px;
	min-height: 401px;
}

.main-container {	
	background-color: var(--main-bg-color);
	width: 800px;
	height: 400px;
	border: 0px solid var(--main-bg-color);
	border-radius: 10px;
	box-shadow: 5px 5px 4px black;
}

.cover-container {
	flex: 3;
	background-color: red;
	background-image: url("../img/cover-login.png");
	background-size: 60%;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 10px 0px 0px 10px;
	height: 400px;
}

.login-container {
	flex: 2;
	background-color: white;
	border-radius: 0px 10px 10px 0px;	
}

.form-container {
	background-color: white;
	border-radius: 0px 10px 10px 0px;
	height: 400px;
}

.input-container {
	flex: 4;
}

.input-user, .input-pwr {
	display: flex;
	justify-content: center;	
}

.input-container ion-icon {
	flex: 1;
	color: gray;	
	margin: 20px 0px;
	font-size: 20px;
	max-width: 30px;	
	width: 15px;
	height: 33px;	
	border: 1px solid gray;
	border-right: none;
	border-radius: 5px 0px 0px 5px;	
}

.input-container input {
	flex: 5;
	margin: 20px 0px;
	width: 235px;
	height: 35px;
	padding-left: 10px;
	border: 1px solid gray;
	border-left: none;
	border-radius: 0px 5px 5px 0px;
}

.input-container input:focus {
	accent-color: red;
	caret-color: red;	
}

.btn-container {
	flex: 1;
}

.btn-container input {
	font-size: 14px;
	width: 250px;
	height: 35px;
	background-color: red;
	border: 0px solid;
	border-radius: 5px;
	color: white;
	transition: transform .3s;
}

.btn-container input:hover {
	transform: scale(1.1, 1.1);	
	box-shadow: 4px 4px 5px black;
}

.btn-container input:active {
	transform: scale(0.9, 0.9);			
}

.sigin-container {
	flex: 2;
}

.sigin-container a {
	color: red;
	text-decoration: none;
}

.sigin-container a:hover {	
	text-decoration: underline;
}


/* mobile */
@media(max-width: 450px){	

	.container {
		min-width: 320px;
		min-height: 200px;
	}
	
	.main-container {
		width: 95vw;
	}	
	
	.cover-container{
		flex: 1;
		width: 30px;		
	}
	
	.login-container {
		flex: 2;
	}	
	
	.input-container input {
		flex: 2;		
		margin-right: 5px;
		width: 60vw;
		height: 35px;		
	}
	
	.input-container ion-icon {
		margin-left: 5px;
	}
	
	.btn-container input {
		width: 100px;
	}
	
	.sigin-container a {
		margin: 10px;
	}
}